<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

<form action="{{ path('security_login') }}" method="post">
    <div>
        <div class="form_group">
            <label class="form-contrl-label required" for="username">Username</label>
            <input type="text" id="username" name="_username" required="required" class="form-control">
        </div>
        <div class="form_group">
            <label class="form-contrl-label required" for="username">Password</label>
            <input type="password" id="password" name="_password" required="required" class="form-control">
        </div>
        <div class="form_group">
            <input type="submit" id="Login" name="Login" class="btn-secondary btn">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
    </div>
</form>